<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cities</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="header">
    <h1>Cities</h1>
</div>
<div class="content">
    <div class="content-left">
        <ol>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ol>
    </div>
    <div class="content-right">
        <h1>London</h1>
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis cupiditate delectus dolorum enim id, molestiae mollitia optio provident quibusdam? Debitis dele
            niti fugiat odit quam quod, repellendus sequi vero vitae!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem cum maxime porro tempora tenetur unde voluptas. Animi, asperiores beatae consequuntur dolorem, earum hic ill
            um incidunt iure natus nemo, quibusdam!</p>
    </div>
</div>
<div class="footer">
    <h6>Footer</h6>
</div>
</body>
</html>