<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Divs home</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--start of our top div-->
<div class="top">
    <div class="a"></div>
    <div class="b"></div>
</div>
<!--end of our top div-->
<!--start of our middle div-->
<div class="middle">
    <div class="c"></div>
    <div class="d"></div>
    <div class="e"></div>
</div>
<!--middle div ends here-->
<!--start of second last div-->
<div class="second-last">
    <div class="f"></div>
    <div class="g"></div>
    <div class="h"></div>
    <div class="i"></div>
</div>
<!--end of second last div-->
<!--start of bottom div-->
<div class="bottom"></div>
</body>
</html>